:root {
    color-scheme: light dark;

    /*
    Define spacing sizes for margins, paddings, and gaps.
    Use these to ensure consistent spacing throughout the UI.
     */
    --spacing-small: 0.4rem;
    --spacing-medium: 1.6rem;
    --spacing-large: 3.2rem;

    /*
    Define border-radius sizes for rounded corners.
    Use these to maintain a cohesive design for buttons, cards, and other UI elements.
     */
    --border-radius-small: 8px;
    --border-radius-medium: 16px;
    --border-radius-large: 32px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    user-select: none;
}

h1 {
    font-size: var(--spacing-large);
}

svg {
    width: var(--spacing-large);
    height: var(--spacing-large);
}
