:root {
    --highlight-color: light-dark(#161616, #e9e9e9);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    border-bottom: 1px solid var(--highlight-color);
    padding-bottom: var(--spacing-small);
    font-size: var(--font-size-body);
    font-weight: bold;
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-medium);
}

.markdown h1 {
    font-size: var(--font-size-heading);
    text-align: center;
}

.markdown h2 {
    font-size: var(--font-size-title);
}

.markdown ul {
    margin-left: var(--spacing-medium);
}

.markdown strong {
    text-decoration: underline;
}

pre {
    border: 1px solid var(--highlight-color);
    border-radius: var(--border-radius-small);
    overflow-x: auto;
    padding: var(--spacing-small);
    background-color: var(--polaroid-color);
}

pre code {
    color: #888;
}

code:not(pre code) {
    border-radius: var(--border-radius-small);
    padding: 0 var(--spacing-small);
    background-color: var(--polaroid-color);
}
