---
import '../styles/global.css'
import Icon from '../components/Icon.astro'

import { SITE_NAME } from '../config.js'

const baseYear = 2024
const currentYear = new Date().getFullYear()
const yearString =
    currentYear === baseYear
        ? baseYear.toString()
        : `${baseYear}-${currentYear}`
---

<footer>
    <div>
        <span>{SITE_NAME} &copy; {yearString}</span>
        <span>Licensed under the MIT License</span>
    </div>
    <ul>
        <li title="GitHub">
            <a
                href="https://github.com/TheSmartCooking"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon name="brand-github" />
            </a>
        </li>
        <li title="Contact Us">
            <a href="contact.html"><Icon name="mail-question" /></a>
        </li>
        <li title="Privacy Policy">
            <a href="privacy.html"><Icon name="file-text-shield" /></a>
        </li>
    </ul>
</footer>

<style>
    footer {
        align-self: center;
        display: flex;
        gap: var(--spacing-small);
        flex-direction: column;
    }

    footer > div {
        align-self: center;
        display: flex;
        gap: var(--spacing-small);
        text-align: center;
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
        list-style: none;
        justify-content: center;
    }

    @media screen and (width<=850px) {
        footer > div {
            flex-direction: column;
            font-size: 1rem;
            gap: 0;
        }
    }
</style>
