---
import '../styles/global.css';
import Icon from "../components/Icon.astro";

import { SITE_NAME } from '../config.js';

const baseYear = 2024;
const currentYear = new Date().getFullYear();
const yearString = currentYear === baseYear ? baseYear.toString() : `${baseYear}-${currentYear}`;
---

<footer>
    <span>{ SITE_NAME } &copy; {yearString}</span>
    <span>Licensed under the MIT License</span>
</footer>

<style>
    footer {
        align-self: center;
        display: flex;
        gap: var(--spacing-small);
        text-align: center;
    }

    @media screen and (width<=850px) {
        footer {
            flex-direction: column;
            font-size: 1rem;
            gap: 0;
        }
    }
</style>
