---
import '../styles/global.css';
import Icon from "../components/Icon.astro";

import { SITE_NAME } from '../config.js';
---

<header>
    <a href="index.html"><h1>{ SITE_NAME }</h1></a>
    <nav>
        <ul>
            <li><a href="contact.html"><Icon name="mail-question" /></a></li>
            <li><a href="privacy.html"><Icon name="file-text-shield" /></a></li>
            <li><a href="authentication.html"><Icon name="user-circle" /></a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
        list-style: none;
    }

    header>*:first-child,
    header>*:last-child {
        margin: 0 var(--spacing-medium);
    }

    @media screen and (width<=850px) {
        header {
            align-items: center;
            flex-direction: column;
            gap: 0;
        }

        header>*:first-child,
        header>*:last-child {
            margin: 0;
        }
    }
</style>
