---
import '../styles/global.css'
import SearchBar from '../components/SearchBar.astro'
import IconHome from '../assets/icon/home.svg'
import IconUser from '../assets/icon/user-circle.svg'

import { SITE_NAME } from '../config.js'
const { canSearch = false } = Astro.props || {}
---

<header class="show">
    <a href="index.html" title="Home">
        <IconHome />
        <h1>{SITE_NAME}</h1>
    </a>
    {canSearch && <SearchBar placeholder="Search for recipes..." />}
    <nav>
        <ul>
            <li title="Account">
                <a href="authentication.html"><IconUser /></a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        position: fixed;
        gap: var(--spacing-medium);
        transition: transform 0.5s ease-in-out;
        white-space: nowrap;
        width: 100%;
        z-index: 1;
    }

    header.hide {
        transform: translateY(-100%);
    }

    header.show {
        transform: translateY(0);
    }

    header > a {
        display: flex;
        gap: var(--spacing-small);
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
        list-style: none;
    }

    header > *:first-child,
    header > *:last-child {
        margin: 0 var(--spacing-medium);
    }

    @media screen and (width<=1000px) {
        header {
            align-items: center;
            flex-direction: column;
            gap: 0;
        }

        header > *:first-child,
        header > *:last-child {
            margin: 0;
        }

        svg {
            width: calc(1.5 * var(--spacing-medium));
            height: calc(1.5 * var(--spacing-medium));
        }
    }
</style>

<script type="module" is:inline>
    const header = document.querySelector('header')
    let lastScroll = 0

    window.addEventListener('scroll', () => {
        const current = window.scrollY
        const scrollingDown = current > lastScroll

        header.classList.toggle('hide', scrollingDown && current > 0)
        header.classList.toggle('show', !scrollingDown || current <= 0)

        lastScroll = Math.max(current, 0)
    })
</script>
