---
import '../styles/global.css'
import Icon from '../components/Icon.astro'
import SearchBar from '../components/SearchBar.astro'

import { SITE_NAME } from '../config.js'
---

<header>
    <a href="index.html" title="Home">
        <Icon name="home" />
        <h1>{SITE_NAME}</h1>
    </a>
    <SearchBar placeholder="Search..." />
    <nav>
        <ul>
            <li title="Account">
                <a href="authentication.html"><Icon name="user-circle" /></a>
            </li>
        </ul>
    </nav>
</header>

<style>
    h1 {
        text-wrap: nowrap;
    }

    header {
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-medium);
        width: 100%;
    }

    header > a {
        display: flex;
        gap: var(--spacing-small);
        text-decoration: none;
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
        list-style: none;
    }

    header > *:first-child,
    header > *:last-child {
        margin: 0 var(--spacing-medium);
    }

    @media screen and (width<=1000px) {
        header {
            align-items: center;
            flex-direction: column;
            gap: 0;
        }

        header > *:first-child,
        header > *:last-child {
            margin: 0;
        }

        h1 {
            font-size: 1.75rem;
        }

        svg {
            width: calc(1.5 * var(--spacing-medium));
            height: calc(1.5 * var(--spacing-medium));
        }
    }
</style>
