---
import IconCheck from '../assets/icon/check.svg'
import IconX from '../assets/icon/x.svg'

const { description } = Astro.props
---

<Fragment>
    <li>
        <IconCheck class="password-requirement-check" />
        <IconX class="password-requirement-x" />
        <span>{description}</span>
    </li>
</Fragment>

<style>
    li {
        display: flex;
        gap: var(--spacing-small);
        align-items: center;
    }

    .password-requirement-check,
    .password-requirement-x {
        width: 1.75rem;
        min-width: 1.75rem;
    }

    .password-requirement-check {
        color: var(--color-success);
    }

    .password-requirement-x {
        color: var(--color-error);
    }

    .password-requirement-check {
        display: none;
    }
</style>
