---
import PasswordRequirementsCheck from './PasswordRequirementsCheck.astro'
---

<div id="password-requirements">
    <h3>Password requirements</h3>
    <ul>
        <PasswordRequirementsCheck description="At least 12 characters long." />
        <PasswordRequirementsCheck description="Contains at least one uppercase letter (A-Z)." />
        <PasswordRequirementsCheck description="Contains at least one lowercase letter (a-z)." />
        <PasswordRequirementsCheck description="Contains at least one digit (0-9)." />
        <PasswordRequirementsCheck
            description="Contains at least one special character (non-alphanumeric)."
        />
    </ul>
</div>

<style>
    ul {
        list-style: none;
    }
</style>
